.App {
  text-align: center;
  background-color: #99E1D9;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #322932 ;
}

.converter {  
  width: 100%;
  padding: 0 15%;
  box-sizing: border-box; 
  text-align: center;
background-color: beige;
  
}
.btn{
  color: black;
  background-color: #817d81;
}

.input{
  width: 2px;
}

.Home{
  text-align: center;
  background-color: #99E1D9;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #322932 ;
}